<%- include ('./header') %>
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 mt-5">
    <h3>Organizador de Eventos</h3>
    <form class="mt-4">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </form>
    <a class="mt-3" href="/register">Registrarse</a>
</div>  
<%- include ('./footer') %>
